{% extends 'events/base.html' %}

{% block content %}

		<div class="content1">
			<h2>"Hey"</h2>
			<p>Bienvenue sur Iboo, le site qui vous met en relation avec tous les fêtards de votre secteur !</p>
		</div>
		
		<div class="content2">
			<h2>"Mais, comment ça marche ?!"</h2>
			<p>Nous sommes un samedi soir, il est tard, il fait froid, vous êtes dehors et hélas tous les bars sont fermés. En plus de ça, vous n'habitez pas tout prêt et les premiers métros sont en service d'ici 3 heures !! Alors que faire, prendre un taxi qui va vous coûter un bras ? Tenter d'entrer dans une de ces boîtes foireuses du centre-ville, en espérant que le videur  ne voie pas les tâches de pastis sur votre chemise ?</br>Plus maintenant. Bientôt, avec Iboo, vous aurez la possibilité de rejoindre des soirées organisées par des gens cool et certifiés par contre en échange d'une petite participation financière : en quelques clics !</p>
			<p>Et voilà, vous êtes parés et sur le point de faire plein de nouvelles rencontres !</p>
		</div>
		
		<div class="content1">
			<h2>"Euh, c'est pas un peu risqué ?"</h2>
			<p>Pas du tout. Les paiements sont sécurisés et gérés par notre partenaire Stripe Connect. Notre équipe ne pourra jamais avoir accès à vos informations sensibles : numéros de carte bancaire, numéros de compte, mots de passe... De plus, les utilisateurs auront la possibilité de demander un remboursement en cas de souci !</p>	
		</div>
		

		<div class="content2">
			<h2>"Ok, où est-ce que je signe ?"</h2>
			<p>Du calme voyons :) Le service n'est pas encore disponible. Mais vous pouvez d'ores et déjà vous inscrire afin de béneficier de nombreux avantages lors du lancement de la version bêta : notamment des réductions sur toutes les soirées auxquelles vous déciderez de participer ! Laissez-vous tenter, ça mange pas de pain ;)</p>
			<p><a href="/register"><img src="https://dabuttonfactory.com/button.png?t=Je+me+pr%C3%A9-inscris&f=Open+Sans-Bold&ts=36&tc=fff&tshs=1&tshc=000&hp=22&vp=10&c=0&bgt=unicolored&bgc=fd8180&bs=3&bc=569" alt="inscription" /></a></p>	
		</div>
{% endblock %}